.App {
  text-align: center;
  border: 5px solid rgba(72, 20, 107, 0.479);
  border-radius: 10px;
  padding: 20px;
  margin: 30px 60px;
  display: flex;
  flex-direction: column;
}
.App-link {
  color: #61dafb;
}
.w{
  cursor: pointer;
  list-style-type: "⭐";
}
.d{
  cursor: pointer;
  list-style-type: "✅";
  text-decoration: line-through;
}
li:hover{
  cursor: pointer;
}
li{
  overflow-wrap: break-word;
  width: 500px;
}
.f{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

